<div class="sticky">
  <div class="col-12">
    <mat-card class="search-card">
      <form class="row justify-content-center" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="col-2 d-flex align-items-center justify-content-end">
          <mat-card-title>Search GIPHY</mat-card-title>
        </div>
        <div class="col-3">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Ex. Cat" formControlName="name" required>
            <mat-hint>Complete the form to enable button.</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <button type="submit" class="w-100 search-btn" [disabled]="!searchForm.valid" mat-raised-button
            color="accent">Search</button>
          <!-- <button type="button" mat-raised-button color="accent" (click)="removeDB()">Delete DB</button> -->
        </div>
      </form>

    </mat-card>
  </div>
</div>
<div class="container">
  <app-my-favourites [favourites]="favourites" (removeItem)="removeFavourite($event)"></app-my-favourites>

  <h2>Search Results</h2>
  <div class="alert alert-danger" role="alert" *ngIf="images.length == 0">
    No images found
  </div>
  <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="2000" (scrolled)="onScroll()">
    <div class="col-3" *ngFor="let img of images | callbackFilter: filterImages ;trackBy: trackByFn">
      <mat-card class="image-card">
        <div class="image">
          <img mat-card-image [src]="img['images']['downsized']['url']">
        </div>
        <mat-card-actions class="buttons">
          <button mat-raised-button color="primary"
            (click)="addToFavourite({id:img.id, url: img['images']['downsized']['url']})">Add to Favourites</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>